<footer id="footer" class="footer">
    <div class="container">
        <div class="footer-container">
            <div class="logo-section">
                <a href="/ar"><img src="" alt=" Logo"></a>
            </div>
            <div class="contact-info">
                <div class="contact-item">
                    <img src="https://webordfrontdoor-g0c4anayhqexabcx.a01.azurefd.net/content/images/icons/call-us-icon.svg"
                         alt="Call">
                    <a href="tel:920008080">92 000 8080</a>
                </div>
                <div class="contact-item">
                    <img src="https://webordfrontdoor-g0c4anayhqexabcx.a01.azurefd.net/content/images/icons/email-us-icon.svg"
                         alt="Email">
                    <a href="Email">info@Email.com</a>
                </div>
            </div>
            <div class="social-links">
                <a href="https://www.instagram.com/instagram/">
                    <img src="https://webordfrontdoor-g0c4anayhqexabcx.a01.azurefd.net/content/images/social/instagram.svg"
                         alt="Instagram">
                </a>
                <a href="https://www.facebook.com/instagram/">
                    <img src="https://webordfrontdoor-g0c4anayhqexabcx.a01.azurefd.net/content/images/social/facebook.svg"
                         alt="Facebook">
                </a>
                <a href="https://www.tiktok.com/instagram">
                    <img src="https://webordfrontdoor-g0c4anayhqexabcx.a01.azurefd.net/content/images/social/tiktok.svg"
                         alt="Tiktok">
                </a>
                <a href="https://www.youtube.com/instagram">
                    <img src="https://webordfrontdoor-g0c4anayhqexabcx.a01.azurefd.net/content/images/social/youtube.svg"
                         alt="Youtube">
                </a>
            </div>
        </div>
        <div class="sub-footer">
            <span>© <span class="text-white">شاورمر</span> جميع الحقوق محفوظة.</span>
            <div class="footer-links">
                <a href="https://career.instagram.com/ar">وظائف</a>
                <a href="#">الأسئلة الشائعة</a>
                <a href="/terms">الشروط والأحكام</a>
                <a href="/privacy">سياسة الخصوصية</a>
            </div>
        </div>
    </div>
</footer>


                <style>


    /* footer */
    #footer {
        background-color: #185499;
        color: white;
        margin-top: 50px;
        padding: 20px;
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 0 auto;
    }

    .logo-section img {
        width: 180px;
    }

    .contact-info {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin-bottom: 10px;
    }

    .contact-item {
        display: flex;
        align-items: center;
    }

        .contact-item img {
            width: 36px;
            height: 36px;
            margin-left: 5px;
        }

        .contact-item a {
            color: #ccc;
            text-decoration: none;
        }

            .contact-item a:hover {
                color: white;
            }

    .social-links {
        display: flex;
        gap: 10px;
        align-items: center;
    }

        .social-links img {
            width: 36px;
            height: 36px;
            transition: transform 0.3s;
        }

        .social-links a:hover img {
            transform: scale(1.1);
        }

    .sub-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 20px;
        border-top: 1px solid #414042;
    }

        .sub-footer .footer-links {
            display: flex;
            gap: 10px;
        }

            .sub-footer .footer-links a {
                color: #ccc;
                text-decoration: none;
                padding: 2px 0;
            }

                .sub-footer .footer-links a:hover {
                    color: white;
                }

    @@media (max-width: 768px) {
        .footer-container

    {
        flex-direction: column;
        text-align: center;
    }

    .contact-info {
        justify-content: center;
    }

    .social-links {
        justify-content: center;
    }

    .sub-footer {
        flex-direction: column;
        text-align: center;
    }

        .sub-footer .footer-links {
            flex-direction: column;
            align-items: center;
        }

    }
</style>