<header class="header">
    <div class="container">
        <button class="menu-button" type="button">
            <i class="fa-solid fa-bars"></i>
        </button>

        <h1 class="urdu-text"> شاورما المنصوره</h1>
    </div>
</header>


<style>
    /* Header Styles */
    .header {
        background-color: #fff;
        padding: 10px 0px;
        border-bottom: 1px solid #ccc;
    }

        .header .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

    .urdu-text {
        font-family: 'Noto Nastaliq Urdu', serif;
    }



    .menu-button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        color: #0052a3;
        font-size: 31px;
    }

    .menu-icon {
        width: 30px;
        height: 30px;
    }

    .header h1 {
        font-size: 20PX;
    }
</style>