@using RMS.Web.Core.ViewModels.Home
@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<Partial name="_header" />
<Partial name="_search" />


@if (Model?.CategoriesExploreBar != null && Model.CategoriesExploreBar.Any())
{
    <div class="categories-section">
        <Partial name="_CategoriesExploreBar" model="Model.CategoriesExploreBar" />

    </div>
}

@*  <div class="banner-slider">
    <div class="container">
      <img src="~/images/burgers.png" />
    </div>
</div> *@


@if (Model?.CategoriesItems != null && Model.CategoriesItems.Any())
{
    <div class="categories-section">
        <Partial name="_ProductGrid" model="Model.CategoriesItems" />
    </div>
}




<Partial name="_CartAccessBtn" />


