@using RMS.Web.Core.ViewModels.Home
@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}


<Partial name="_header" />


<Partial name="_search" />





@if (Model?.CategoriesExploreBar != null && Model.CategoriesExploreBar.Any())
{
    <div class="categories-section">
        <Partial name="_CategoriesExploreBar" model="Model.CategoriesExploreBar" />

    </div>
}

@if (Model.OrderConfirmed && Model.CurrentOrders.Any())
{
    foreach (var order in Model.CurrentOrders)
    {
        <div id="order-status-box">
            @Html.Partial("_OrderStatusBox", order)
        </div>

    }
}


<div id="product-grid-container" class="categories-section">
    <Partial name="_ProductGrid" model="Model.CategoriesItems" />
</div>

@* 
    <div class="categories-section">
        <Partial name="_ProductGrid" model="Model.CategoriesItems" />
    </div>
 *@






@*  <div class="banner-slider">
    <div class="container">
      <img src="~/images/burgers.png" />
    </div>
</div> *@







<Partial name="_CartAccessBtn" />



