@using RMS.Web.Core.ViewModels.Home
@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<Partial name="_header" />

@if (Model?.CategoriesItems != null && Model.CategoriesItems.Any())
{
    <div class="categories-section">
        <Partial name="_ProductGrid" model="Model.CategoriesItems" />
    </div>
}
<Partial name="_search" />


@if (Model?.CategoriesExploreBar != null && Model.CategoriesExploreBar.Any())
{
    <div class="categories-section">
        <Partial name="_CategoriesExploreBar" model="Model.CategoriesExploreBar" />

    </div>
}

@if (Model.OrderConfirmed && Model.ConfirmedOrderId.HasValue)
{
    <Partial name="_OrderProgressBox" model="Model.ConfirmedOrderId" />
}

@*  <div class="banner-slider">
    <div class="container">
      <img src="~/images/burgers.png" />
    </div>
</div> *@







<Partial name="_CartAccessBtn" />


