
/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Sans Arabic', sans-serif;
    font-weight: 500;
    background-color: #f1f2f8;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}





.container {
   /* padding: 0 15px;
    margin: 0 auto;*/
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
}

@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1400px;
    }
}







